@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

header {
  background:  #FF4B2B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px 4px -2px black;
}

li {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.center {
  margin-top: 20%;
}

.main-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

button {
	border-radius: 20px;
	border: 1px solid darkred;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	padding: 10px 55px;
	letter-spacing: 3px;
	text-transform: uppercase;
  margin-top: 10px;
  align-items: center;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 10px;
	margin: 8px 0;
	width: 50%;
}
#navbar {
background-color: #FF4B2B;
letter-spacing: 1px;
padding: 10px 45px;
display: grid;
grid-template-columns: 3fr 1fr 1fr;

}
a:visited {
  text-decoration: none;
  color:#FFFFFF;
}
#strangerThings {
  background-color: #FF4B2B;
  padding: 10px;
  margin: 0;
  color: #eee;
}
#profileHeader {
  background-color: #FF4B2B;
  padding: 10px;
  margin: 0;
  color: #eee;
  border-radius: 20px;
	border: 1px solid darkred;
display: grid;
padding: 10px 45px;
grid-template-columns: 3fr 0fr 0fr;
  
}
#singlePostHead {
  padding: 10px;
  margin: 0;
  color: #eee;
}

#postMessage {
  padding: 10px;
  margin: 0;
  color:black;
}
#username {
  font-size: 20px;
  border-radius: 20px;
	border: 1px solid darkred;
  background-color: #FF4B2B;
}

#profilePage {
  border-radius: 20px;
	border: 1px solid darkred;

}
